<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Server Site</title>
</head>
	<body>
		<div id="body">
		Just a server . . .<br>
		This is just a basic server test site.<br>
		{{4 + 5}}
		<script src='static/script.js'></script>
		</div>
		<div id="button">
			<button onclick="myFunction()">Click to RUN</button>
		</div>
		<div id="button2">
			<button><a href="page2.html">Click to Advance</a></button>
		</div>
	</body>
</html>